# Archivos compilados
*.class

# Archivos de logs
*.log

# Archivos temporales
*.tmp
*.swp

# Carpetas de compilación
bin/
out/
target/
build/

# Archivos empaquetados
*.jar
*.war
*.ear

# Archivos del sistema
.DS_Store
Thumbs.db

# Configuración de IDEs
.vscode/
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# Archivos de Maven
target/

# Archivos de Gradle
.gradle/
build/